<!DOCTYPE html>
<html>
<head>
    <title>Add an item</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/add-item.css">
</head>
<body>

    <h1>Add new item:</h1>
    <form action="/add-item" method="POST">
        <label for="Item">Item</label>
        <input type="text" id="Item" name="Item">

        <label for="Type">Description:</label>
        <input type="text" id="Type" name="Type">

        <label for="Brand">Brand:</label>
        <input type="text" id="Brand" name="Brand">

        <label for="Model">Model:</label>
        <input type="text" id="Model" name="Model">

        <label for="Colour">Colour:</label>
        <input type="text" id="Colour" name="Colour">

        <label for="Connectivity">Connectivity:</label>
        <input type="text" id="Connectivity" name="Connectivity">

        <label for="Strings">Strings:</label>
        <input type="text" id="Strings" name="Strings">

        <label for="Model">Model:</label>
        <input type="text" id="Model" name="Model">

    </form>
</body>
</html>

item type brand model colour connectivity strings handiness quantity barcode