<!DOCTYPE html>
<html>
<head>
    <title>Add an item</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/add-item.css">
</head>
<body>

    <h1>Add new item:</h1>
    <form action="/add-item" method="POST">
        <label for="Item">Category</label>
        <input type="text" id="Item" name="Item">

        <label for="Type">Type:</label>
        <input type="text" id="Type" name="Type">

        <label for="Brand">Brand:</label>
        <input type="text" id="Brand" name="Brand">

        <label for="Model">Model:</label>
        <input type="text" id="Model" name="Model">

        <label for="Colour">Colour:</label>
        <input type="text" id="Colour" name="Colour">

        <label for="Connectivity">Connectivity:</label>
        <input type="text" id="Connectivity" name="Connectivity">

        <label for="Strings">Strings:</label>
        <input type="text" id="Strings" name="Strings">

        <label for="Handedness">Handedness:</label>
        <input type="text" id="Handedness" name="Handedness">

        <label for="Barcode">Barcode:</label>
        <input type="text" id="Barcode" name="Barcode" required>

        <button type="submit">Continue</button>
    </form>
</body>
</html>