<!DOCTYPE html>
<html>
<head>
    <title>Inventory</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/inventory.css">
</head>
<body>

    {% include 'navbar.html' %}

    <div class="main-container">

        <div class="header-row-grid">

            <h1>Inventory</h1>

            <p>160 | Total</p>

            <a href="#">+ Add Item </a>

            <form action="/search" method="get" class="search-form">
                <input type="text" name="query" placeholder="Search inventory..." />
            </form>

        </div>
    </div>
</body>
</html>
